In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Total_Fitbit.csv')

In [3]:
df.head()

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories,Calories In
0,4/26/18,"2,635","2,931",1.38,2,"1,347",93,0,0,566,0
1,4/27/18,"3,649","9,971",4.70,19,"1,158",219,46,17,"1,752",0
2,4/28/18,"3,379","3,521",1.66,2,702,155,22,11,"1,124",0
3,4/29/18,"2,851","1,639",0.77,0,891,122,0,0,602,0
4,4/30/18,"2,825","1,323",0.62,0,880,104,0,0,540,0

In [4]:
df['Date_1'] = pd.to_datetime(df.Date)

In [10]:
df.set_index(df.Date_1, inplace=True)

In [11]:
df.drop(columns = 'Date', inplace =True)

In [13]:
df.rename({'Date_1':'Date'})

,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories,Calories In,Date_1
Date_1,,,,,,,,,,,
2018-04-26,"2,635","2,931",1.38,2,"1,347",93,0,0,566,0,2018-04-26
2018-04-27,"3,649","9,971",4.70,19,"1,158",219,46,17,"1,752",0,2018-04-27
2018-04-28,"3,379","3,521",1.66,2,702,155,22,11,"1,124",0,2018-04-28
2018-04-29,"2,851","1,639",0.77,0,891,122,0,0,602,0,2018-04-29
2018-04-30,"2,825","1,323",0.62,0,880,104,0,0,540,0,2018-04-30
2018-05-01,"3,292","2,581",1.22,0,919,167,13,2,"1,068",0,2018-05-01
2018-05-02,"2,660","1,372",0.65,0,927,90,0,0,419,0,2018-05-02
2018-05-03,"3,121","2,232",1.05,0,876,157,16,0,"1,006",0,2018-05-03
2018-05-04,"2,522",904,0.43,1,"1,012",61,0,0,269,0,2018-05-04
2018-05-05,"2,551",833,0.39,0,969,68,0,0,326,0,2018-05-05
2018-05-06,"2,771","1,383",0.65,0,976,103,0,0,506,0,2018-05-06
2018-05-07,"2,524",952,0.45,0,907,63,0,0,283,0,2018-05-07
2018-05-08,"2,591","1,187",0.56,2,"1,221",53,17,2,410,0,2018-05-08
2018-05-09,"2,153",21,0.01,0,"1,438",2,0,0,8,0,2018-05-09
2018-05-10,"3,081","1,364",0.64,0,"1,295",136,5,4,924,0,2018-05-10
2018-05-11,"2,950","2,771",1.31,1,947,130,0,0,727,0,2018-05-11
2018-05-12,"3,318","4,125",1.95,2,756,184,4,7,"1,113",0,2018-05-12
2018-05-13,"2,572","1,689",0.80,0,895,84,0,0,394,0,2018-05-13
2018-05-14,"2,966","3,710",1.75,0,959,119,19,0,794,0,2018-05-14
2018-05-15,"3,152","4,313",2.03,0,767,183,9,0,"1,011",0,2018-05-15
2018-05-16,"3,497","5,882",2.77,1,825,234,5,6,"1,396",0,2018-05-16
2018-05-17,"3,066","4,080",1.92,4,867,158,0,0,897,0,2018-05-17
2018-05-18,"4,376","13,958",6.58,7,682,178,67,92,"2,549",0,2018-05-18
2018-05-19,"4,112","14,917",7.04,7,646,193,34,89,"2,228",0,2018-05-19
2018-05-20,"3,098","4,986",2.35,3,795,174,5,6,978,0,2018-05-20
2018-05-21,"3,009","3,989",1.88,3,727,182,0,0,932,0,2018-05-21
2018-05-22,"3,581","4,680",2.21,1,625,209,33,2,"1,460",0,2018-05-22
2018-05-23,"3,772","6,889",3.25,0,921,241,42,14,"1,765",0,2018-05-23
2018-05-24,"2,756","3,470",1.64,0,804,143,0,0,723,0,2018-05-24
2018-05-25,"3,155","5,389",2.54,1,821,145,32,13,"1,127",0,2018-05-25
...,...,...,...,...,...,...,...,...,...,...,...
2018-11-07,"3,681","13,664",6.46,9,566,172,4,82,"1,882","1,471",2018-11-07
2018-11-08,"4,137","15,542",7.33,26,716,238,15,86,"2,436",0,2018-11-08
2018-11-09,"4,445","16,732",7.99,14,698,126,31,131,"2,671",807,2018-11-09
2018-11-10,"3,863","13,636",7.04,16,589,219,3,77,"2,115","2,276",2018-11-10
2018-11-11,"4,264","17,761",8.36,129,486,299,47,76,"2,717",0,2018-11-11
2018-11-12,"3,444","10,184",4.82,19,651,244,14,40,"1,705",0,2018-11-12
2018-11-13,"3,202","10,330",4.87,16,615,199,10,26,"1,376",0,2018-11-13
2018-11-14,"3,081","7,598",3.58,15,835,214,8,12,"1,250",0,2018-11-14
2018-11-15,"3,815","12,360",5.90,10,644,203,7,69,"2,082",0,2018-11-15
2018-11-16,"3,780","12,286",5.73,13,576,281,31,42,"2,114",0,2018-11-16
2018-11-17,"4,548","20,395",10.06,31,464,347,54,90,"3,077",0,2018-11-17
2018-11-18,"4,832","25,512",12.00,23,450,269,53,154,"3,373",0,2018-11-18
2018-11-19,"3,697","11,993",5.56,17,502,255,34,43,"2,062",0,2018-11-19
2018-11-20,"3,966","15,527",7.27,13,810,196,11,96,"2,260",0,2018-11-20
2018-11-21,"3,738","11,079",5.16,4,582,328,9,33,"2,101",0,2018-11-21
2018-11-22,"4,494","16,705",7.84,177,522,284,18,115,"2,868",0,2018-11-22
2018-11-23,"3,325","9,602",4.53,16,660,269,23,12,"1,619",0,2018-11-23
2018-11-24,"4,098","17,004",9.20,23,532,217,13,100,"2,428",0,2018-11-24
2018-11-25,"3,005","6,921",3.26,11,614,281,3,6,"1,306",0,2018-11-25
2018-11-26,"3,364","10,563",5.64,20,587,210,10,42,"1,605",0,2018-11-26
2018-11-27,"3,726","13,420",6.29,7,650,196,12,78,"2,027",0,2018-11-27
2018-11-28,"3,088","7,602",3.59,16,717,272,0,0,"1,361",0,2018-11-28
2018-11-29,"3,693","12,380",6.56,18,717,258,15,53,"2,051",0,2018-11-29
2018-11-30,"3,269","9,559",4.51,14,699,288,12,6,"1,577",0,2018-11-30
2018-12-01,"3,813","14,510",7.27,7,527,233,22,67,"2,124",0,2018-12-01
2018-12-02,"3,957","13,257",6.23,195,725,265,13,70,"2,305",0,2018-12-02
2018-12-03,"3,660","12,915",6.12,6,782,219,40,51,"1,993",0,2018-12-03
2018-12-04,"3,384","13,763",6.49,13,608,199,11,67,"1,663",0,2018-12-04
2018-12-05,"3,670","13,865",6.52,12,739,200,12,69,"1,968",0,2018-12-05
2018-12-06,"3,669","14,774",6.96,9,647,198,4,78,"1,962",0,2018-12-06